<!--

<p>candidatos works!</p>

<table >
    <tr>
        <th>id</th>
        <th>nome</th>
        <th>email</th>
        <th>telefone</th>
        <th>endereço</th>
        <th>Profissao</th>
        
    </tr>

    <tr *ngFor="let candidatos of candidatos">
        <td>{{candidatos.id}}</td>
        <td>{{candidatos.nome}}</td>
        <td>{{candidatos.email}}</td>
        <td>{{candidatos.telefone}}</td>
        <td>{{candidatos.endereco}}</td>
        <td>{{candidatos.profissao}}</td>
        
       
       
    </tr>
</table>

---->